// Colors
$c-darkblue: #152c39;
$c-red: #f00128;
$c-darkred: #c00120;
$c-darkred-50: rgba(192,1,32,0.3);
$c-lightgray: #f8fafa;
$c-bordergray: #e9eef0;

// Fonts
$f-proxima: 'proxima-nova, helvetica, arial, sans-serif';